.messi{
  background-color: goldenrod;
}

.seccion-cys{
  border: solid 2px;
}

.carrera__bg{
  background-color: #4e832f;
}

.carrera{
  p:last-of-type{
    margin-bottom: 0;
  }
  img, iframe{
    width: 100%;
    height: auto;
    margin: 5px;
    margin-left: 0;
  }
}

@media(min-width: 576px){
  .carrera img, iframe, p{
      margin: 0;
  }
}

.maps{
  height: 300px;
}

.trofeos__bg{
  background-color: #169ce9;
}

.trofeos{
  img{
    width: 100%;
    height: auto;
    margin: 5px;
    margin-left: 0;
  }
  h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.clubes__bg{
  background-color: #581b1b;
}

.clubes{
  color: white;
  h3{
    display: flex;
    justify-content: center;
  }
  img{
    width: 100%;
    height: auto;
    margin: 5px;
    margin-left: 0;
  }
}

.seccion__fcb{
  margin-bottom: 1px;
}